<a href="https://colab.research.google.com/github/nicolenair/capstone/blob/master/Capstone_LL_experiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
from google.colab import drive
drive.mount('/content/gdrive')
os.chdir("/content/gdrive/My Drive/Colab Notebooks")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [2]:
# !pip install nltk
# !pip install stanfordnlp

import nltk

nltk.download('averaged_perceptron_tagger')
nltk.download('punkt')
import requests

from bs4 import BeautifulSoup
import requests
import numpy as np
import pandas as pd
import os
import re
import os

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [0]:
books = ["gables", "avonlea", "island", "poplars", "dreams","ingleside", "rainbow", "rilla"]
# urls = ["https://www.gutenberg.org/files/45/45-0.txt", "https://www.gutenberg.org/files/47/47-0.txt", "https://www.gutenberg.org/files/51/51-0.txt", "http://www.gutenberg.org/cache/epub/544/pg544.txt", "http://www.gutenberg.org/cache/epub/3796/pg3796.txt", "http://gutenberg.net.au/ebooks01/0100281.txt", "http://gutenberg.net.au/ebooks01/0100251.txt", "http://www.gutenberg.org/files/5343/5343-0.txt"]

# for i in range(len(books)):
#     page = requests.get(urls[i])
#     file = open("{}.txt".format(books[i]) , "w+")
#     file.write(page.text)
#     file.close()



file = open("gables.txt", "r")
gables = file.read()
file = open("avonlea.txt", "r")
avonlea = file.read()
file = open("island.txt", "r")
island = file.read()
file = open("dreams.txt", "r")
dreams = file.read()
file = open("rilla.txt", "r")
rilla = file.read()
file = open("ingleside.txt", "r")
ingleside = file.read()
file = open("poplars.txt", "r")
poplars = file.read()
file = open("rainbow.txt", "r")
rainbow = file.read()

In [0]:
file1 = open("gables_sentence_list.txt", "r")
file2 = open("avonlea_sentence_list.txt", "r")
file3 = open("island_sentence_list.txt", "r")
file4 = open("poplars_sentence_list.txt", "r")
file5 = open("dreams_sentence_list.txt", "r")
file6 = open("ingleside_sentence_list.txt", "r")
file7 = open("rainbow_sentence_list.txt", "r")
file8 = open("rilla_sentence_list.txt", "r")
sentence_gables = []
sentence_dreams = []
sentence_island = []
sentence_avonlea = []
sentence_poplars = []
sentence_ingleside = []
sentence_rainbow = []
sentence_rilla = []
target_gables = []
target_dreams = []
target_island = []
target_avonlea = [] ###
target_poplars = []
target_ingleside = []
target_rainbow = []
target_rilla = [] ###

file1_lines =file1.readlines()
file2_lines = file2.readlines()
file3_lines = file3.readlines()
file4_lines = file4.readlines()
file5_lines = file5.readlines()
file6_lines = file6.readlines()
file7_lines = file7.readlines()
file8_lines = file8.readlines()

files = [file1_lines, file2_lines, file3_lines ,file4_lines, file5_lines, file6_lines, file7_lines, file8_lines]
sentences = [sentence_gables, sentence_avonlea, sentence_island, sentence_poplars, sentence_dreams, sentence_ingleside, sentence_rainbow, sentence_rilla]
targets = [target_gables, target_avonlea, target_island, target_poplars, target_dreams, target_ingleside, target_rainbow, target_rilla]

for s in range(len(sentences)):
  for i in range(len(files[s])):
    if i%2==0:
      sentences[s].append([files[s][i]])
    else:
      targets[s].append([int(files[s][i])])
  file.close()

    
# for i in range(len(file2_lines)):
#   if i%2==0:
#     sentence_dreams.append([file2_lines[i]])
#   else:
#     target_dreams.append([int(file2_lines[i])])
# file.close()

In [0]:
import nltk

def postag(book, sentence, target):
    word_list = book.split()
    postagged_word_list = nltk.pos_tag(word_list)
    list_of_tags = [i[1] for i in postagged_word_list]
    x_tagname = []
    y_tagcount = []
    for i in list(set(list_of_tags)):
      y_tagcount.append(list_of_tags.count(i))
      x_tagname.append(i)

    full_tags = pd.DataFrame({"tagname":x_tagname, "tagcount":y_tagcount})

    words_anne = []
    for i in range(len(target)):
      for e in range(len(target[i])):
    #      print(i, e)
         if target[i][e]==1:
            words_anne.extend(sentence[i][e].split())

    tag_anne = nltk.pos_tag(words_anne)

    list_of_tags_anne = [i[1] for i in tag_anne]
    x_tagname = []
    y_tagcount = []
    for i in list(set(list_of_tags_anne)):
      y_tagcount.append(list_of_tags_anne.count(i))
      x_tagname.append(i)

    # full_gables_tags.loc["anne_tagname"] = x_tagname
    # full_gables_tags.loc["anne_tagcount"] = y_tagcount
    full_tags["anne_tagcount"] = 0
    for i in range(len(full_tags)):
      if full_tags["tagname"][i] in x_tagname:
        full_tags["anne_tagcount"][i] = y_tagcount[x_tagname.index(full_tags["tagname"][i])]
    full_tags.loc[full_tags["tagcount"]==0, "tagcount"] = 0.0001
    full_tags.loc[full_tags["anne_tagcount"]==0, "anne_tagcount"] = 0.0001
    return full_tags
#     full_tags["anne_tagcount"] = full_tags["anne_tagcount"]

In [45]:
a = postag(gables, sentence_gables, target_gables)
a

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   tagname  tagcount  anne_tagcount
0      WDT     318.0        19.0000
1       FW      26.0         2.0000
2      WP$      10.0         0.0001
3       IN   11435.0       932.0000
4      JJS     171.0        10.0000
5       VB    5138.0       181.0000
6       NN   16066.0      1015.0000
7       JJ    8341.0       412.0000
8      PDT     231.0         4.0000
9       WP     444.0        18.0000
10     VBZ    1634.0        17.0000
11     RBS      32.0         1.0000
12     JJR     224.0        11.0000
13     SYM       1.0         0.0001
14       :       3.0        79.0000
15    NNPS      35.0         3.0000
16      RB    5617.0       386.0000
17      UH       1.0         1.0000
18      TO    3078.0       178.0000
19     POS       2.0         0.0001
20     VBG    1904.0       157.0000
21    PRP$    2084.0       199.0000
22     NNP   10148.0       351.0000
23     RBR     110.0         9.0000
24       $       1.0         0.0001
25     WRB     697.0        48.0000
26      MD    1340.0        43.0000
27     NNS    2637.0       233.0000
28      DT    8064.0       587.0000
29      RP     745.0        49.0000
30     VBD    6979.0       562.0000
31      EX     232.0         8.0000
32     VBN    2002.0       216.0000
33     PRP    7943.0       264.0000
34      CC    4374.0       311.0000
35     VBP    3106.0        19.0000
36      CD     469.0        20.0000

In [0]:
targets[0]==target_gables
bookz = [gables, avonlea, island, poplars, dreams, ingleside, rainbow, rilla]

In [229]:
full_tagz=[]
for i in range(len(bookz)):
  a = postag(bookz[i], sentences[i], targets[i])
  full_tagz.append(a)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [244]:
for i in full_tagz:
  print(i.shape)

(37, 3)
(39, 3)
(37, 3)
(38, 3)
(37, 3)
(38, 3)
(37, 3)
(37, 3)

In [240]:
fofull_tagz[0]["tagname"])

True

In [236]:
for i in range(len(full_tagz[0])):
  print(full_tagz[0].iloc[i]["tagcount"])
#   if list(full_tagz[0]["tagname"]).count(i["tagname"])>1:
#     print("ok")

318.0
26.0
10.0
11435.0
171.0
5138.0
16066.0
8341.0
231.0
444.0
1634.0
32.0
224.0
1.0
3.0
35.0
5617.0
1.0
3078.0
2.0
1904.0
2084.0
10148.0
110.0
1.0
697.0
1340.0
2637.0
8064.0
745.0
6979.0
232.0
2002.0
7943.0
4374.0
3106.0
469.0

In [0]:
full_list_of_categs = []
for i in full_tagz:
  full_list_of_categs.extend(list(i["tagname"]))

In [250]:
for k in range(len(full_tagz)):
  print(full_tagz[k].shape)
  for i in list(set(full_list_of_categs)):
    if i not in list(full_tagz[k]["tagname"]):
      full_tagz[k] = full_tagz[k].append({"tagname":i, "tagcount":0.01, "anne_tagcount":0.01}, ignore_index=True)
  print(full_tagz[k].shape)

(39, 3)
(39, 3)
(39, 3)
(39, 3)
(39, 3)
(39, 3)
(39, 3)
(39, 3)
(39, 3)
(39, 3)
(39, 3)
(39, 3)
(39, 3)
(39, 3)
(39, 3)
(39, 3)

In [254]:
full_tagz[1]

   tagname  tagcount  anne_tagcount
0      WDT     301.0        28.0000
1       FW      31.0         0.0001
2      WP$      16.0         3.0000
3       IN    9873.0       733.0000
4      JJS     145.0         7.0000
5       VB    4190.0       189.0000
6       NN   14285.0       940.0000
7       JJ    6712.0       391.0000
8      PDT     151.0        11.0000
9       WP     425.0        24.0000
10     VBZ    1717.0         9.0000
11     RBS      33.0         1.0000
12     JJR     184.0        11.0000
13     SYM       1.0         1.0000
14       :       8.0        31.0000
15    NNPS      41.0         2.0000
16      RB    4802.0       365.0000
17      UH       1.0         2.0000
18      ''       3.0         0.0001
19      TO    2493.0       188.0000
20     POS       1.0         0.0001
21     VBG    1545.0       135.0000
22    PRP$    1844.0       179.0000
23     NNP    9315.0       406.0000
24     RBR      78.0         4.0000
25       $       1.0         0.0001
26     WRB     607.0        43.0000
27      MD    1147.0        49.0000
28       .    2256.0       367.0000
29     NNS    2402.0       187.0000
30      DT    7304.0       562.0000
31      RP     549.0        46.0000
32     VBD    6128.0       543.0000
33      EX     178.0         4.0000
34     VBN    1893.0       177.0000
35     PRP    6525.0       221.0000
36      CC    3911.0       264.0000
37     VBP    2628.0        21.0000
38      CD     432.0        21.0000

In [0]:
# for i in full_gables_tags["tagname"]:
#   if i not in full_dreams_tags["tagname"]:
#     full_dreams_tags["tagname"][i] = 0.01

# #   if full_gables_tags["tagcount"]
    
# for i in full_dreams_tags["tagname"]:
#   if i not in full_gables_tags["tagname"]:
#     full_gables_tags["tagname"][i] = 0.01

for i in full_tagz:
  i.loc[i["tagcount"]==0, "tagcount"] = 0.0001
  i.loc[i["anne_tagcount"]==0, "anne_tagcount"] = 0.0001
  i.loc[np.isnan(i["tagcount"]), "tagcount"] = 0.0001
  i.loc[np.isnan(i["anne_tagcount"]), "anne_tagcount"] = 0.0001

In [289]:
np.array(full_tagz[0].iloc[:,2])#.astype(int)

array([1.900e+01, 2.000e+00, 1.000e-04, 9.320e+02, 1.000e+01, 1.810e+02,
       1.015e+03, 4.120e+02, 4.000e+00, 1.800e+01, 1.700e+01, 1.000e+00,
       1.100e+01, 1.000e-04, 7.900e+01, 3.000e+00, 3.860e+02, 1.000e+00,
       1.780e+02, 1.000e-04, 1.570e+02, 1.990e+02, 3.510e+02, 9.000e+00,
       1.000e-04, 4.800e+01, 4.300e+01, 2.330e+02, 5.870e+02, 4.900e+01,
       5.620e+02, 8.000e+00, 2.160e+02, 2.640e+02, 3.110e+02, 1.900e+01,
       2.000e+01, 1.000e-04, 1.000e-04])

In [268]:
np.array([[10, 10, 20], [20, 20, 20]]).shape

(2, 3)

In [292]:
print(chi2_contingency(np.array([np.ceil(np.array(full_tagz[0].iloc[:,2])), np.ceil(np.array(full_tagz[0].iloc[:,2]))])))

(0.0, 1.0, 38, array([[1.900e+01, 2.000e+00, 1.000e+00, 9.320e+02, 1.000e+01, 1.810e+02,
        1.015e+03, 4.120e+02, 4.000e+00, 1.800e+01, 1.700e+01, 1.000e+00,
        1.100e+01, 1.000e+00, 7.900e+01, 3.000e+00, 3.860e+02, 1.000e+00,
        1.780e+02, 1.000e+00, 1.570e+02, 1.990e+02, 3.510e+02, 9.000e+00,
        1.000e+00, 4.800e+01, 4.300e+01, 2.330e+02, 5.870e+02, 4.900e+01,
        5.620e+02, 8.000e+00, 2.160e+02, 2.640e+02, 3.110e+02, 1.900e+01,
        2.000e+01, 1.000e+00, 1.000e+00],
       [1.900e+01, 2.000e+00, 1.000e+00, 9.320e+02, 1.000e+01, 1.810e+02,
        1.015e+03, 4.120e+02, 4.000e+00, 1.800e+01, 1.700e+01, 1.000e+00,
        1.100e+01, 1.000e+00, 7.900e+01, 3.000e+00, 3.860e+02, 1.000e+00,
        1.780e+02, 1.000e+00, 1.570e+02, 1.990e+02, 3.510e+02, 9.000e+00,
        1.000e+00, 4.800e+01, 4.300e+01, 2.330e+02, 5.870e+02, 4.900e+01,
        5.620e+02, 8.000e+00, 2.160e+02, 2.640e+02, 3.110e+02, 1.900e+01,
        2.000e+01, 1.000e+00, 1.000e+00]]))

In [0]:
from scipy.stats import chi2_contingency

#compare word classes for only Anne's utterances across books
res = []
for i in range(len(sentences)):
  for e in range(len(sentences)):
    res.append([books[i], books[e], chi2_contingency(np.array([np.ceil(np.array(full_tagz[0].iloc[:,2])), np.ceil(np.array(full_tagz[0].iloc[:,2]))]))[1]])
#     print(chi2_contingency(full_gables_tags.iloc[:,1:])[:2])
#     print(chi2_contingency(full_dreams_tags.iloc[:,1:])[:2])
#     print(chi2_contingency(pd.DataFrame({"0":np.array(full_gables_tags.iloc[:,2]), "1": np.array(full_dreams_tags.iloc[:,2])}))[:2])
#     print(chi2_contingency(pd.DataFrame({"0":np.array(full_gables_tags.iloc[:,1]), "1": np.array(full_dreams_tags.iloc[:,1])}))[:2])
#     print(chi2_contingency(pd.DataFrame({"0":np.array(full_gables_tags.iloc[:,1]), "1": np.array(full_dreams_tags.iloc[:,2])}))[:2])
#     print(chi2_contingency(pd.DataFrame({"0":np.array(full_gables_tags.iloc[:,2]), "1": np.array(full_dreams_tags.iloc[:,1])}))[:2])

# for i in range(len(sentences)):
#   for e in range(len(sentences)):
#     print(chi2_contingency(np.array([np.ceil(np.array(full_tagz[0].iloc[:,1])), np.ceil(np.array(full_tagz[0].iloc[:,1]))]))[1])

In [302]:
pd.DataFrame(res)

            0          1    2
0      gables     gables  1.0
1      gables    avonlea  1.0
2      gables     island  1.0
3      gables    poplars  1.0
4      gables     dreams  1.0
5      gables  ingleside  1.0
6      gables    rainbow  1.0
7      gables      rilla  1.0
8     avonlea     gables  1.0
9     avonlea    avonlea  1.0
10    avonlea     island  1.0
11    avonlea    poplars  1.0
12    avonlea     dreams  1.0
13    avonlea  ingleside  1.0
14    avonlea    rainbow  1.0
15    avonlea      rilla  1.0
16     island     gables  1.0
17     island    avonlea  1.0
18     island     island  1.0
19     island    poplars  1.0
20     island     dreams  1.0
21     island  ingleside  1.0
22     island    rainbow  1.0
23     island      rilla  1.0
24    poplars     gables  1.0
25    poplars    avonlea  1.0
26    poplars     island  1.0
27    poplars    poplars  1.0
28    poplars     dreams  1.0
29    poplars  ingleside  1.0
..        ...        ...  ...
34     dreams     island  1.0
35     dreams    poplars  1.0
36     dreams     dreams  1.0
37     dreams  ingleside  1.0
38     dreams    rainbow  1.0
39     dreams      rilla  1.0
40  ingleside     gables  1.0
41  ingleside    avonlea  1.0
42  ingleside     island  1.0
43  ingleside    poplars  1.0
44  ingleside     dreams  1.0
45  ingleside  ingleside  1.0
46  ingleside    rainbow  1.0
47  ingleside      rilla  1.0
48    rainbow     gables  1.0
49    rainbow    avonlea  1.0
50    rainbow     island  1.0
51    rainbow    poplars  1.0
52    rainbow     dreams  1.0
53    rainbow  ingleside  1.0
54    rainbow    rainbow  1.0
55    rainbow      rilla  1.0
56      rilla     gables  1.0
57      rilla    avonlea  1.0
58      rilla     island  1.0
59      rilla    poplars  1.0
60      rilla     dreams  1.0
61      rilla  ingleside  1.0
62      rilla    rainbow  1.0
63      rilla      rilla  1.0

[64 rows x 3 columns]